html
    body
        form(action="/data", method="POST")
            label Name :
            input(type="text", name="n", id="text")
            br
            label Email:
            input(type="email", name="e", id="email")
            br
            input(type="submit", value="submit")
